body {
	display: flex;
}

.container {
	display: flex;
}

.fondo {
	background: rgba(67,160,71,1);
	background: -moz-linear-gradient(-45deg, rgba(67,160,71,1) 0%, rgba(56,142,60,1) 21%, rgba(46,125,50,1) 52%, rgba(27,94,32,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(67,160,71,1)), color-stop(21%, rgba(56,142,60,1)), color-stop(52%, rgba(46,125,50,1)), color-stop(100%, rgba(27,94,32,1)));
	background: -webkit-linear-gradient(-45deg, rgba(67,160,71,1) 0%, rgba(56,142,60,1) 21%, rgba(46,125,50,1) 52%, rgba(27,94,32,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(67,160,71,1) 0%, rgba(56,142,60,1) 21%, rgba(46,125,50,1) 52%, rgba(27,94,32,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(67,160,71,1) 0%, rgba(56,142,60,1) 21%, rgba(46,125,50,1) 52%, rgba(27,94,32,1) 100%);
	background: linear-gradient(135deg, rgba(67,160,71,1) 0%, rgba(56,142,60,1) 21%, rgba(46,125,50,1) 52%, rgba(27,94,32,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a047', endColorstr='#1b5e20', GradientType=1 );
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.fullscreen {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex {
	display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#inicio {
	width: 50%;
    height: 50%;
    align-self: center;
    left: 25%;
}

.mesa {
	width: 45%;
	margin: 2.5%;
	padding: 2.5%;
	display: flex;
	align-items: center;
	flex-direction: column;
}




